<ion-view ng-init="getLoginStatus()" class="sign-up">
  <ion-content class="padding">

      <!-- Logo -->
      <div class="app-logo">
          <img src="img\logo.png">
      </div>

      <p>Access with</p>

      <!-- facebook login button -->
      <button class="button button-block" style="height: 60px;" ng-click="fbLogin()">
          <img src="/img/facebook-icon.png" style="left: 0; position: absolute; padding: 0 20px; margin: 10px 0; border-right: 2px solid grey;">
          FB Login
      </button>

    <!-- Terms of use link -->
    <div class="conditions">
        <div>
            <a href="#" ui-sref="terms">View terms and conditions</a>
        </div>
        <div>
            <a href="#" ui-sref="about-us">About us</a>
        </div>
    </div>

  </ion-content>
</ion-view>
