<ion-view view-title="My Profile" ng-init="fbMe()">
  <ion-content class="padding">

    <form name="registrationForm" ng-submit="doRegistration(signupForm.$valid)" novalidate>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="First Name" ng-model="user.first_name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name" ng-model="user.last_name">
        </label>
        <label class="item item-input">
          <input type="date" placeholder="Date of Birth" ng-model="user.dateOfBirth">
        </label>
        <label class="item item-input item-select">
          <div class="input-label" >
            Gender
          </div>
          <select prompt="gender">
            <option>Male</option>
            <option selected>Female</option>
            <option>Other</option>
          </select>
        </label>

        <label class="item item-input">
          <input type="tel" placeholder="Cell Number">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="user.email">
        </label>
        <div class="row">
          <button class="button button-positive" type="submit">Sign Up</button>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
