<ion-view view-title="Registration" ng-init="fbMe()">
  <ion-content class="padding">

    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="user.first_name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="user.last_name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Cell Number">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Gender"  ng-model="user.gender">
      </label>
    </div>
    <button class="button">Done</button>

  </ion-content>
</ion-view>
