<ion-view view-title="Registration" ng-init="fbMe()">
  <ion-content class="padding">

    <form name="registrationForm" ng-submit="doRegistration(signupForm.$valid)" novalidate>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="First Name" ng-model="user.first_name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name" ng-model="user.last_name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Cell Number">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Gender" ng-model="user.gender">
        </label>
        <button class="button" type="submit">Done</button>
      </div>
    </form>

  </ion-content>
</ion-view>
