<ion-view view-title="Search">
    <ion-content class="padding">
        <input type="text" id="searchBar" name="search-bar"/>

        <div class="search-tabs">
            <div class="row">
                <div class="col-sm-6 no-padding-right">
                    <a href="javascript:void(0);" class="search-tab active">Latest</a>
                </div>
                <div class="col-sm-6 no-padding-left">
                    <a href="javascript:void(0);" class="search-tab">Near By</a>
                </div>
            </div>
        </div>

  </ion-content>
</ion-view>
