USE [master]
GO
/****** Object:  Database [hsdevdb1]    Script Date: 3/20/2016 4:59:05 PM ******/
CREATE DATABASE [hsdevdb1]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hsdevdb1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hsdevdb1]
GO
USE [hsdevdb1]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_diagramobjects]    Script Date: 3/20/2016 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE FUNCTION [dbo].[fn_diagramobjects]() 
	RETURNS int
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		declare @id_upgraddiagrams		int
		declare @id_sysdiagrams			int
		declare @id_helpdiagrams		int
		declare @id_helpdiagramdefinition	int
		declare @id_creatediagram	int
		declare @id_renamediagram	int
		declare @id_alterdiagram 	int 
		declare @id_dropdiagram		int
		declare @InstalledObjects	int

		select @InstalledObjects = 0

		select 	@id_upgraddiagrams = object_id(N'dbo.sp_upgraddiagrams'),
			@id_sysdiagrams = object_id(N'dbo.sysdiagrams'),
			@id_helpdiagrams = object_id(N'dbo.sp_helpdiagrams'),
			@id_helpdiagramdefinition = object_id(N'dbo.sp_helpdiagramdefinition'),
			@id_creatediagram = object_id(N'dbo.sp_creatediagram'),
			@id_renamediagram = object_id(N'dbo.sp_renamediagram'),
			@id_alterdiagram = object_id(N'dbo.sp_alterdiagram'), 
			@id_dropdiagram = object_id(N'dbo.sp_dropdiagram')

		if @id_upgraddiagrams is not null
			select @InstalledObjects = @InstalledObjects + 1
		if @id_sysdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 2
		if @id_helpdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 4
		if @id_helpdiagramdefinition is not null
			select @InstalledObjects = @InstalledObjects + 8
		if @id_creatediagram is not null
			select @InstalledObjects = @InstalledObjects + 16
		if @id_renamediagram is not null
			select @InstalledObjects = @InstalledObjects + 32
		if @id_alterdiagram  is not null
			select @InstalledObjects = @InstalledObjects + 64
		if @id_dropdiagram is not null
			select @InstalledObjects = @InstalledObjects + 128
		
		return @InstalledObjects 
	END
	
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 3/20/2016 4:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[HasAttended] [bit] NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK__Attendan__8B69261C4F87B14C] PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AttendanceRating]    Script Date: 3/20/2016 4:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttendanceRating](
	[AttendanceId] [int] NOT NULL,
	[RaterUserId] [int] NOT NULL,
	[RateeUserId] [int] NOT NULL,
	[Rating] [tinyint] NULL,
	[Comment] [varchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_AttendanceRating] PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC,
	[RaterUserId] ASC,
	[RateeUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BlockedUser]    Script Date: 3/20/2016 4:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BlockedUser](
	[BlockerUserId] [int] NOT NULL,
	[BlockedUserId] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Reason] [varchar](250) NULL,
 CONSTRAINT [PK_Blocked] PRIMARY KEY CLUSTERED 
(
	[BlockerUserId] ASC,
	[BlockedUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Connection]    Script Date: 3/20/2016 4:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Connection](
	[UserId] [int] NOT NULL,
	[ConnectionUserId] [int] NOT NULL,
	[Relationship] [varchar](90) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Friend] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ConnectionUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Event]    Script Date: 3/20/2016 4:59:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[StartEventLocationId] [int] NULL,
	[EndEventLocationId] [int] NULL,
	[OwnerUserId] [int] NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[DateTimeStart] [datetime] NOT NULL,
	[DateTimeEnd] [datetime] NULL,
	[Description] [varchar](max) NOT NULL,
	[IsPublic] [bit] NULL,
	[MaxWaitingMinutes] [smallint] NOT NULL,
	[Attributes] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NULL,
 CONSTRAINT [PK__Event__3214EC07B4869FF7] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EventLocation]    Script Date: 3/20/2016 4:59:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventLocation](
	[EventLocationId] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](100) NULL,
	[Province] [varchar](100) NULL,
	[Suburb] [varchar](100) NULL,
	[PostCode] [varchar](10) NULL,
	[Address] [varchar](max) NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
 CONSTRAINT [PK_EventLocation] PRIMARY KEY CLUSTERED 
(
	[EventLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 3/20/2016 4:59:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](90) NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK__EventTyp__3214EC07A1180B85] PRIMARY KEY CLUSTERED 
(
	[EventTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ImageResource]    Script Date: 3/20/2016 4:59:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImageResource](
	[ImageResourceId] [int] IDENTITY(1,1) NOT NULL,
	[ImageData] [varbinary](max) NOT NULL,
	[MimeType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ImageResource] PRIMARY KEY CLUSTERED 
(
	[ImageResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invitation]    Script Date: 3/20/2016 4:59:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invitation](
	[InvitationId] [int] IDENTITY(1,1) NOT NULL,
	[InvitorUserId] [int] NULL,
	[InviteeUserId] [int] NULL,
	[EventId] [int] NULL,
	[OptionalEmailInvitee] [varchar](254) NULL,
	[DateCreated] [datetime] NULL,
	[Status] [varchar](10) NULL,
	[Comment] [varchar](250) NULL,
	[DateUpdated] [datetime] NULL,
 CONSTRAINT [PK_Invitations] PRIMARY KEY CLUSTERED 
(
	[InvitationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Log]    Script Date: 3/20/2016 4:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Log](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[LogType] [varchar](50) NOT NULL,
	[LogName] [varchar](255) NOT NULL,
	[LogDescription] [varchar](2000) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 3/20/2016 4:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/20/2016 4:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Token] [varchar](50) NULL,
	[FirstNames] [varchar](90) NOT NULL,
	[LastName] [varchar](90) NOT NULL,
	[Gender] [varchar](15) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[IdentityDocumentUrl] [varchar](max) NULL,
	[PictureImageResourceId] [int] NULL,
	[Status] [varchar](90) NOT NULL,
	[MobileNumber] [varchar](13) NOT NULL,
	[EmailAddress] [varchar](254) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NULL,
	[DateValidated] [datetime] NULL,
	[DateLastLogin] [datetime] NULL,
 CONSTRAINT [PK__User__3214EC074B4F67B0] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([AttendanceId], [UserId], [EventId], [HasAttended], [DateCreated]) VALUES (401, 1, 201, 1, CAST(N'2016-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Attendance] ([AttendanceId], [UserId], [EventId], [HasAttended], [DateCreated]) VALUES (402, 2, 201, 0, CAST(N'2016-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Attendance] ([AttendanceId], [UserId], [EventId], [HasAttended], [DateCreated]) VALUES (403, 3, 201, 0, CAST(N'2016-03-19T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Attendance] OFF
INSERT [dbo].[AttendanceRating] ([AttendanceId], [RaterUserId], [RateeUserId], [Rating], [Comment], [DateCreated]) VALUES (401, 1, 2, 2, N'Arrived late.', CAST(N'2016-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[AttendanceRating] ([AttendanceId], [RaterUserId], [RateeUserId], [Rating], [Comment], [DateCreated]) VALUES (401, 1, 3, 5, N'Cool dude.', CAST(N'2016-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[AttendanceRating] ([AttendanceId], [RaterUserId], [RateeUserId], [Rating], [Comment], [DateCreated]) VALUES (401, 2, 1, 5, N'Awesome.', CAST(N'2016-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[BlockedUser] ([BlockerUserId], [BlockedUserId], [DateCreated], [Reason]) VALUES (1, 10, CAST(N'2016-03-19T00:00:00.000' AS DateTime), N'Keeps spamming me')
INSERT [dbo].[Connection] ([UserId], [ConnectionUserId], [Relationship], [DateCreated]) VALUES (1, 2, N'family', CAST(N'2016-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Connection] ([UserId], [ConnectionUserId], [Relationship], [DateCreated]) VALUES (1, 3, N'friend', CAST(N'2016-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Connection] ([UserId], [ConnectionUserId], [Relationship], [DateCreated]) VALUES (2, 4, N'family', CAST(N'2016-03-19T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([EventId], [StartEventLocationId], [EndEventLocationId], [OwnerUserId], [EventTypeId], [Name], [DateTimeStart], [DateTimeEnd], [Description], [IsPublic], [MaxWaitingMinutes], [Attributes], [DateCreated], [DateUpdated]) VALUES (201, 501, 502, 1, 101, N'Walk in the Newlands forrest.', CAST(N'2016-03-19T07:30:00.000' AS DateTime), CAST(N'2016-03-19T08:30:00.000' AS DateTime), N'Nice slow walk in the Newlands forrest.', 1, 10, NULL, CAST(N'2016-03-19T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Event] ([EventId], [StartEventLocationId], [EndEventLocationId], [OwnerUserId], [EventTypeId], [Name], [DateTimeStart], [DateTimeEnd], [Description], [IsPublic], [MaxWaitingMinutes], [Attributes], [DateCreated], [DateUpdated]) VALUES (202, 503, 504, 2, 102, N'Cycle from Camps Bay to Simonstown and back.', CAST(N'2016-03-18T06:30:00.000' AS DateTime), CAST(N'2016-03-19T08:30:00.000' AS DateTime), N'Nice easy ride from Camps Bay to Simonstown via Chapmans Peak and back. Will stop at Cafe Roux for a coffee.', 1, 15, NULL, CAST(N'2016-03-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Event] ([EventId], [StartEventLocationId], [EndEventLocationId], [OwnerUserId], [EventTypeId], [Name], [DateTimeStart], [DateTimeEnd], [Description], [IsPublic], [MaxWaitingMinutes], [Attributes], [DateCreated], [DateUpdated]) VALUES (203, 505, 505, 3, 103, N'Run up Lions Head.', CAST(N'2016-03-19T05:45:00.000' AS DateTime), CAST(N'2016-03-19T08:30:00.000' AS DateTime), N'Run up to the top of Lions Head to see the moon set and sun rise.', 1, 10, NULL, CAST(N'2016-03-17T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Event] OFF
SET IDENTITY_INSERT [dbo].[EventLocation] ON 

INSERT [dbo].[EventLocation] ([EventLocationId], [Country], [Province], [Suburb], [PostCode], [Address], [Latitude], [Longitude]) VALUES (501, N'South Africa', N'Western Cape', N'Newlands', N'7725', N'Newlands Forrest', -33.9661549, 18.4505036)
INSERT [dbo].[EventLocation] ([EventLocationId], [Country], [Province], [Suburb], [PostCode], [Address], [Latitude], [Longitude]) VALUES (502, N'South Africa', N'Western Cape', N'Newlands', N'7725', N'Newlands Forrest', -33.9661549, 18.4505036)
INSERT [dbo].[EventLocation] ([EventLocationId], [Country], [Province], [Suburb], [PostCode], [Address], [Latitude], [Longitude]) VALUES (503, N'South Africa', N'Western Cape', N'Camps Bay', N'8005', N'Camps Bay Beach', -33.9493238, 18.3774789)
SET IDENTITY_INSERT [dbo].[EventLocation] OFF
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([EventTypeId], [Name], [Description]) VALUES (101, N'Recreational Walk', N'A recreational walk')
INSERT [dbo].[EventType] ([EventTypeId], [Name], [Description]) VALUES (102, N'Road Ride', N'A recreational road ride')
INSERT [dbo].[EventType] ([EventTypeId], [Name], [Description]) VALUES (103, N'Road Run', N'A recreational road run')
SET IDENTITY_INSERT [dbo].[EventType] OFF
SET IDENTITY_INSERT [dbo].[Invitation] ON 

INSERT [dbo].[Invitation] ([InvitationId], [InvitorUserId], [InviteeUserId], [EventId], [OptionalEmailInvitee], [DateCreated], [Status], [Comment], [DateUpdated]) VALUES (301, 1, 2, 201, NULL, CAST(N'2016-03-19T00:00:00.000' AS DateTime), N'invited', NULL, NULL)
INSERT [dbo].[Invitation] ([InvitationId], [InvitorUserId], [InviteeUserId], [EventId], [OptionalEmailInvitee], [DateCreated], [Status], [Comment], [DateUpdated]) VALUES (302, 1, 3, 201, NULL, CAST(N'2016-03-19T00:00:00.000' AS DateTime), N'accepted', NULL, NULL)
INSERT [dbo].[Invitation] ([InvitationId], [InvitorUserId], [InviteeUserId], [EventId], [OptionalEmailInvitee], [DateCreated], [Status], [Comment], [DateUpdated]) VALUES (303, 1, 4, 201, NULL, CAST(N'2016-03-19T00:00:00.000' AS DateTime), N'accepted', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Invitation] OFF
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Token], [FirstNames], [LastName], [Gender], [DateOfBirth], [IdentityDocumentUrl], [PictureImageResourceId], [Status], [MobileNumber], [EmailAddress], [DateCreated], [DateUpdated], [DateValidated], [DateLastLogin]) VALUES (1, NULL, N'Amy', N'Carroll', N'Female', CAST(N'1984-11-15' AS Date), NULL, NULL, N'created', N'(284)4998976', N'acarroll0@nytimes.com', CAST(N'2016-03-19T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[User] ([UserId], [Token], [FirstNames], [LastName], [Gender], [DateOfBirth], [IdentityDocumentUrl], [PictureImageResourceId], [Status], [MobileNumber], [EmailAddress], [DateCreated], [DateUpdated], [DateValidated], [DateLastLogin]) VALUES (2, NULL, N'Joshua', N'Nguyen', N'Male', CAST(N'1987-10-26' AS Date), NULL, NULL, N'verified', N'(173)495-7726', N'jnguyen1@google.co.uk', CAST(N'2016-03-19T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[User] ([UserId], [Token], [FirstNames], [LastName], [Gender], [DateOfBirth], [IdentityDocumentUrl], [PictureImageResourceId], [Status], [MobileNumber], [EmailAddress], [DateCreated], [DateUpdated], [DateValidated], [DateLastLogin]) VALUES (3, NULL, N'Melissa', N'Webb', N'Female', CAST(N'1993-11-10' AS Date), NULL, NULL, N'verified', N'(857)368-1518', N'mwebb2@smugmug.com', CAST(N'2016-03-19T00:00:00.000' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_principal_name]    Script Date: 3/20/2016 4:59:11 PM ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Column]    Script Date: 3/20/2016 4:59:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Column] ON [dbo].[User]
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Column_1]    Script Date: 3/20/2016 4:59:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Column_1] ON [dbo].[User]
(
	[MobileNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
ALTER TABLE [dbo].[Attendance] ADD  CONSTRAINT [DF__Attendanc__DateC__440B1D61]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[AttendanceRating] ADD  CONSTRAINT [DF_AttendanceRating_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[BlockedUser] ADD  CONSTRAINT [DF_Blocked_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Connection] ADD  CONSTRAINT [DF_Friend_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF_Event_Public]  DEFAULT ((1)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[Invitation] ADD  CONSTRAINT [DF_Invitations_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [DF_Log_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__Status__403A8C7D]  DEFAULT ('created') FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__DateCreate__412EB0B6]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Event]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_User]
GO
ALTER TABLE [dbo].[AttendanceRating]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceRating_Attendance] FOREIGN KEY([AttendanceId])
REFERENCES [dbo].[Attendance] ([AttendanceId])
GO
ALTER TABLE [dbo].[AttendanceRating] CHECK CONSTRAINT [FK_AttendanceRating_Attendance]
GO
ALTER TABLE [dbo].[AttendanceRating]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceRating_User] FOREIGN KEY([RaterUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[AttendanceRating] CHECK CONSTRAINT [FK_AttendanceRating_User]
GO
ALTER TABLE [dbo].[AttendanceRating]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceRating_User1] FOREIGN KEY([RateeUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[AttendanceRating] CHECK CONSTRAINT [FK_AttendanceRating_User1]
GO
ALTER TABLE [dbo].[BlockedUser]  WITH CHECK ADD  CONSTRAINT [FK_BlockedUser_User] FOREIGN KEY([BlockerUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[BlockedUser] CHECK CONSTRAINT [FK_BlockedUser_User]
GO
ALTER TABLE [dbo].[BlockedUser]  WITH CHECK ADD  CONSTRAINT [FK_BlockedUser_User1] FOREIGN KEY([BlockedUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[BlockedUser] CHECK CONSTRAINT [FK_BlockedUser_User1]
GO
ALTER TABLE [dbo].[Connection]  WITH CHECK ADD  CONSTRAINT [FK_Connection_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Connection] CHECK CONSTRAINT [FK_Connection_User]
GO
ALTER TABLE [dbo].[Connection]  WITH CHECK ADD  CONSTRAINT [FK_Connection_User1] FOREIGN KEY([ConnectionUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Connection] CHECK CONSTRAINT [FK_Connection_User1]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventLocation] FOREIGN KEY([StartEventLocationId])
REFERENCES [dbo].[EventLocation] ([EventLocationId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_EventLocation]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventLocation1] FOREIGN KEY([EndEventLocationId])
REFERENCES [dbo].[EventLocation] ([EventLocationId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_EventLocation1]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[EventType] ([EventTypeId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_EventType]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_User] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_User]
GO
ALTER TABLE [dbo].[Invitation]  WITH CHECK ADD  CONSTRAINT [FK_Invitation_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
GO
ALTER TABLE [dbo].[Invitation] CHECK CONSTRAINT [FK_Invitation_Event]
GO
ALTER TABLE [dbo].[Invitation]  WITH CHECK ADD  CONSTRAINT [FK_Invitation_User] FOREIGN KEY([InvitorUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Invitation] CHECK CONSTRAINT [FK_Invitation_User]
GO
ALTER TABLE [dbo].[Invitation]  WITH CHECK ADD  CONSTRAINT [FK_Invitation_User1] FOREIGN KEY([InviteeUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Invitation] CHECK CONSTRAINT [FK_Invitation_User1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_ImageResource] FOREIGN KEY([PictureImageResourceId])
REFERENCES [dbo].[ImageResource] ([ImageResourceId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_ImageResource]
GO
/****** Object:  StoredProcedure [dbo].[sp_alterdiagram]    Script Date: 3/20/2016 4:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_alterdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null,
		@version 	int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId 			int
		declare @retval 		int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @ShouldChangeUID	int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid ARG', 16, 1)
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();	 
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		revert;
	
		select @ShouldChangeUID = 0
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		
		if(@DiagId IS NULL or (@IsDbo = 0 and @theId <> @UIDFound))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end
	
		if(@IsDbo <> 0)
		begin
			if(@UIDFound is null or USER_NAME(@UIDFound) is null) -- invalid principal_id
			begin
				select @ShouldChangeUID = 1 ;
			end
		end

		-- update dds data			
		update dbo.sysdiagrams set definition = @definition where diagram_id = @DiagId ;

		-- change owner
		if(@ShouldChangeUID = 1)
			update dbo.sysdiagrams set principal_id = @theId where diagram_id = @DiagId ;

		-- update dds version
		if(@version is not null)
			update dbo.sysdiagrams set version = @version where diagram_id = @DiagId ;

		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_creatediagram]    Script Date: 3/20/2016 4:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_creatediagram]
	(
		@diagramname 	sysname,
		@owner_id		int	= null, 	
		@version 		int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId int
		declare @retval int
		declare @IsDbo	int
		declare @userName sysname
		if(@version is null or @diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID(); 
		select @IsDbo = IS_MEMBER(N'db_owner');
		revert; 
		
		if @owner_id is null
		begin
			select @owner_id = @theId;
		end
		else
		begin
			if @theId <> @owner_id
			begin
				if @IsDbo = 0
				begin
					RAISERROR (N'E_INVALIDARG', 16, 1);
					return -1
				end
				select @theId = @owner_id
			end
		end
		-- next 2 line only for test, will be removed after define name unique
		if EXISTS(select diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @diagramname)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end
	
		insert into dbo.sysdiagrams(name, principal_id , version, definition)
				VALUES(@diagramname, @theId, @version, @definition) ;
		
		select @retval = @@IDENTITY 
		return @retval
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_dropdiagram]    Script Date: 3/20/2016 4:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_dropdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT; 
		
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		delete from dbo.sysdiagrams where diagram_id = @DiagId;
	
		return 0;
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagramdefinition]    Script Date: 3/20/2016 4:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagramdefinition]
	(
		@diagramname 	sysname,
		@owner_id	int	= null 		
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		set nocount on

		declare @theId 		int
		declare @IsDbo 		int
		declare @DiagId		int
		declare @UIDFound	int
	
		if(@diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner');
		if(@owner_id is null)
			select @owner_id = @theId;
		revert; 
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname;
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId ))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end

		select version, definition FROM dbo.sysdiagrams where diagram_id = @DiagId ; 
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagrams]    Script Date: 3/20/2016 4:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagrams]
	(
		@diagramname sysname = NULL,
		@owner_id int = NULL
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		DECLARE @user sysname
		DECLARE @dboLogin bit
		EXECUTE AS CALLER;
			SET @user = USER_NAME();
			SET @dboLogin = CONVERT(bit,IS_MEMBER('db_owner'));
		REVERT;
		SELECT
			[Database] = DB_NAME(),
			[Name] = name,
			[ID] = diagram_id,
			[Owner] = USER_NAME(principal_id),
			[OwnerID] = principal_id
		FROM
			sysdiagrams
		WHERE
			(@dboLogin = 1 OR USER_NAME(principal_id) = @user) AND
			(@diagramname IS NULL OR name = @diagramname) AND
			(@owner_id IS NULL OR principal_id = @owner_id)
		ORDER BY
			4, 5, 1
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_renamediagram]    Script Date: 3/20/2016 4:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_renamediagram]
	(
		@diagramname 		sysname,
		@owner_id		int	= null,
		@new_diagramname	sysname
	
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @DiagIdTarg		int
		declare @u_name			sysname
		if((@diagramname is null) or (@new_diagramname is null))
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT;
	
		select @u_name = USER_NAME(@owner_id)
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		-- if((@u_name is not null) and (@new_diagramname = @diagramname))	-- nothing will change
		--	return 0;
	
		if(@u_name is null)
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @new_diagramname
		else
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @owner_id and name = @new_diagramname
	
		if((@DiagIdTarg is not null) and  @DiagId <> @DiagIdTarg)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end		
	
		if(@u_name is null)
			update dbo.sysdiagrams set [name] = @new_diagramname, principal_id = @theId where diagram_id = @DiagId
		else
			update dbo.sysdiagrams set [name] = @new_diagramname where diagram_id = @DiagId
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_upgraddiagrams]    Script Date: 3/20/2016 4:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_upgraddiagrams]
	AS
	BEGIN
		IF OBJECT_ID(N'dbo.sysdiagrams') IS NOT NULL
			return 0;
	
		CREATE TABLE dbo.sysdiagrams
		(
			name sysname NOT NULL,
			principal_id int NOT NULL,	-- we may change it to varbinary(85)
			diagram_id int PRIMARY KEY IDENTITY,
			version int,
	
			definition varbinary(max)
			CONSTRAINT UK_principal_name UNIQUE
			(
				principal_id,
				name
			)
		);


		/* Add this if we need to have some form of extended properties for diagrams */
		/*
		IF OBJECT_ID(N'dbo.sysdiagram_properties') IS NULL
		BEGIN
			CREATE TABLE dbo.sysdiagram_properties
			(
				diagram_id int,
				name sysname,
				value varbinary(max) NOT NULL
			)
		END
		*/

		IF OBJECT_ID(N'dbo.dtproperties') IS NOT NULL
		begin
			insert into dbo.sysdiagrams
			(
				[name],
				[principal_id],
				[version],
				[definition]
			)
			select	 
				convert(sysname, dgnm.[uvalue]),
				DATABASE_PRINCIPAL_ID(N'dbo'),			-- will change to the sid of sa
				0,							-- zero for old format, dgdef.[version],
				dgdef.[lvalue]
			from dbo.[dtproperties] dgnm
				inner join dbo.[dtproperties] dggd on dggd.[property] = 'DtgSchemaGUID' and dggd.[objectid] = dgnm.[objectid]	
				inner join dbo.[dtproperties] dgdef on dgdef.[property] = 'DtgSchemaDATA' and dgdef.[objectid] = dgnm.[objectid]
				
			where dgnm.[property] = 'DtgSchemaNAME' and dggd.[uvalue] like N'_EA3E6268-D998-11CE-9454-00AA00A3F36E_' 
			return 2;
		end
		return 1;
	END
	
GO
USE [master]
GO
